<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ReceitaHTML.trabalho3"
			class = "trabalho3.receitaHTML.ReceitaHTMLPackage"
			genModel = "model/generated/ReceitaHTML.genmodel" />
	</extension>
</plugin>
